:root, [data-bs-theme=light] {
    /*basics*/
    --tblr-primary: #7c69ef;
    --tblr-secondary: #a6abbb;
    --tblr-info: 	#467fd0;
    --tblr-warning: #ffc107;
    --tblr-success: #42ba96;
    --tblr-danger: #df4759;
    --tblr-light: #f1f4f8;
    --tblr-dark: #161c2d;
    --tblr-gray: #384c74;
    --tblr-gray-dark: #1d273b;
    --tblr-gray-100: #f9fbfd;
    --tblr-gray-200: #f1f4f8;
    --tblr-gray-300: #d9e2ef;
    --tblr-gray-400: #c6d3e6;
    --tblr-gray-500: #abbcd5;
    --tblr-gray-600: #869ab8;
    --tblr-gray-700: #506690;
    --tblr-gray-800: #384c74;
    --tblr-gray-900: #1b2a4e;
    --tblr-blue: #467fd0;
    --tblr-azure: #69d2f1;
    --tblr-indigo: #6610f2;
    --tblr-purple: var(--tblr-primary);
    --tblr-pink: #e83e8c;
    --tblr-red: #df4759;
    --tblr-orange: #fd9644;
    --tblr-yellow: #ffc107;
    --tblr-green: #42ba96;
    --tblr-teal: #20c997;
    --tblr-cyan: #17a2b8;
    --tblr-tabler: var(--tblr-primary);
    /*basics rgb*/
    --tblr-tabler-rgb: 124, 105, 239;
    --tblr-primary-rgb: 122, 105, 227;
    --tblr-secondary-rgb: 217, 226, 239;
    --tblr-success-rgb: 66, 186, 150;
    --tblr-info-rgb: 70, 127, 208;
    --tblr-warning-rgb: 255, 193, 7;
    --tblr-danger-rgb: 223, 71, 89;
    --tblr-light-rgb: 241, 244, 248;
    --tblr-dark-rgb: 22, 28, 45;
    --tblr-link-color: var(--tblr-primary);
    --tblr-link-color-rgb: 124, 105, 239;
    --tblr-link-hover-color: 100, 90, 180;
    --tblr-link-hover-color-rgb: var(--tblr-primary-rgb);
    --tblr-link-hover-decoration: underline;
    --tblr-link-decoration: none;
    --tblr-blue-rgb: 70, 127, 208;
    --tblr-azure-rgb: 105, 210, 241;
    --tblr-indigo-rgb: 102, 16, 242;
    --tblr-purple-rgb: var(--tblr-primary-rgb);
    --tblr-pink-rgb: 232, 62, 140;
    --tblr-red-rgb: 223, 71, 89;
    --tblr-orange-rgb: 253, 150, 68;
    --tblr-yellow-rgb: 255, 193, 7;
    --tblr-green-rgb: 66, 186, 150;
    --tblr-teal-rgb: 32, 201, 151;
    --tblr-cyan-rgb: 23, 162, 184;
    /*texts*/
    --tblr-primary-text: var(--tblr-primary);
    --tblr-secondary-text: var(--tblr-secondary);
    --tblr-success-text: var(--tblr-success);
    --tblr-info-text: var(--tblr-info);
    --tblr-warning-text: var(--tblr-warning);
    --tblr-danger-text: var(--tblr-danger);
    --tblr-light-text: var(--tblr-light);
    --tblr-dark-text: var(--tblr-dark);
    /*bg*/
    --tblr-primary-bg-subtle: #d2e1f3;
    --tblr-secondary-bg-subtle: #f1f5f9;
    --tblr-success-bg-subtle: #d5f0da;
    --tblr-info-bg-subtle: #d1ecf1;
    --tblr-warning-bg-subtle: #fdeccc;
    --tblr-danger-bg-subtle: #f7d7d7;
    --tblr-light-bg-subtle: #f8fafc;
    --tblr-dark-bg-subtle: #9ba9be;
    --tblr-primary-border-subtle: #a6c4e7;
    --tblr-secondary-border-subtle: #e2e8f0;
    --tblr-success-border-subtle: #ace1b4;
    --tblr-info-border-subtle: #a2dae3;
    --tblr-warning-border-subtle: #fbd999;
    --tblr-danger-border-subtle: #efb0b0;
    --tblr-light-border-subtle: #e2e8f0;
    --tblr-dark-border-subtle: #6c7a91;
    /*more*/
    --tblr-white-rgb: var(--tblr-light-rgb);
    --tblr-black-rgb: var(--tblr-dark-rgb);
    --tblr-body-color-rgb: 29, 39, 59;
    --tblr-body-bg-rgb: 241, 245, 249;
    --tblr-body-color: #2f2746;
    --tblr-emphasis-color: #000000;
    --tblr-emphasis-color-rgb: 0, 0, 0;
    --tblr-secondary-color: var(--tblr-secondary);
    --tblr-secondary-color-rgb: var(--tblr-secondary-rgb);
    --tblr-secondary-bg: #e5e2f0;
    --tblr-secondary-bg-rgb: 229, 226, 240;
    --tblr-body-bg: var(--tblr-gray-200);
    --tblr-code-color: var(--tblr-gray-600);
}
[data-bs-theme=dark] {
    --tblr-body-color: #6c7a91;
    --tblr-body-bg: #20262E;
    --tblr-emphasis-color: #f1f5f9;
    --tblr-secondary-bg: #1d273b;
    --tblr-tertiary-bg: #161f33;
    --tblr-primary-text: #79a6dc;
    --tblr-secondary-text: #c8d3e1;
    --tblr-success-text: #82d18f;
    --tblr-info-text: #74c7d4;
    --tblr-warning-text: #f9c566;
    --tblr-danger-text: #e68888;
    --tblr-light-text: #f1f5f9;
    --tblr-dark-text: #c8d3e1;
    --tblr-light-bg-subtle: #1d273b;
    --tblr-dark-bg-subtle: #0f141e;
    --tblr-secondary-border-subtle: #372f56;
    --tblr-light-border-subtle: #372f56;
    --tblr-dark-border-subtle: #241d3b;
    --tblr-heading-color: #fff;
    --tblr-link-color: #79a6dc;
    --tblr-link-hover-color: #a6c4e7;
    --tblr-border-color: #313c52;
    --tblr-dark-mode-border-color: #23222d;
    --tblr-gray: #49566c;
    --tblr-gray-dark: #2a2938;
    --tblr-table-color-bg-lighter: #302d3b;
    --tblr-table-color-bg-darker: var(--tblr-gray-dark);
    --tblr-gray-100: #f1f5f9;
    --tblr-gray-200: #e2e8f0;
    --tblr-gray-300: #c8d3e1;
    --tblr-gray-400: #9ba9be;
    --tblr-dark: #29273b;
    --tblr-bg: #201c21;
    --tblr-card-head: #2d2b3b;
    --tblr-primary-border-subtle: #534f6e;
}

[data-bs-theme=dark] body {
    background-color: var(--tblr-bg);
}

/*dark mode backpack*/
.navbar-dark {
    background-color: #29273b;
}

[data-bs-theme=dark] ul.pagination li.paginate_button.page-item.active a.page-link {
    color: var(--tblr-light) !important;
}

[data-bs-theme=dark] .select2-selection--multiple input {
    color: var(--tblr-light) !important;
}

[data-bs-theme=dark] body .page {
    background-color: var(--tblr-bg) !important;
}

[data-bs-theme=dark] .card-body {
    box-shadow: inset 0 calc(-1 * var(--tblr-navbar-border-width)) 0 0 var(--tblr-light-border-subtle) !important;
}

[data-bs-theme=dark] header.navbar {
    background: var(--tblr-dark-mode-border-color);
    box-shadow: inset 0 calc(-1 * var(--tblr-navbar-border-width)) 0 0 var(--tblr-light-border-subtle) !important;
}

[data-bs-theme=dark] .card {
    border: var(--tblr-card-border-width) solid var(--tblr-light-border-subtle);
    background: var(--tblr-dark-mode-border-color);
}

[data-bs-theme=dark] .card-header, [data-bs-theme=dark] .card-footer {
    background: var(--tblr-card-head);
    border-color: var(--tblr-light-border-subtle) !important;
}

.progress {
    background-color: var(--tblr-light-border-subtle) !important;
}

/*tables - list operation*/
[data-bs-theme=dark] #crudTable_wrapper .table-striped > tbody > tr:nth-of-type(even) > * {
    --tblr-table-accent-bg: var(--tblr-table-color-bg-lighter);
}

/*inputs*/
[data-bs-theme=dark] input[type=checkbox]:not(:checked).form-check-input {
    background-color: var(--tblr-primary-border-subtle);
}
[data-bs-theme=dark] input[type=search].form-control,
[data-bs-theme=dark] input[type=date].form-control,
[data-bs-theme=dark] input[type=text].form-control,
[data-bs-theme=dark] select.form-control,
[data-bs-theme=dark] select.form-select,
[data-bs-theme=dark] :not(.navbar-filters) .select2-selection--single,
[data-bs-theme=dark] .select2-container .select2-dropdown .select2-search input.select2-search__field {
    background-color: var(--tblr-table-color-bg-lighter);
    border-color: var(--tblr-card-head);
}
[data-bs-theme=dark] input[type=search].form-control:focus,
[data-bs-theme=dark] input[type=date].form-control:focus,
[data-bs-theme=dark] input[type=text].form-control:focus,
[data-bs-theme=dark] select.form-control:focus,
[data-bs-theme=dark] select.form-select:focus,
[data-bs-theme=dark] :not(.navbar-filters) .select2-selection--single:focus {
    box-shadow: 0 0 3px var(--tblr-primary);
}
[data-bs-theme=dark] input[type=date].form-control::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}
[data-bs-theme=dark] :not(.navbar-filters) .select2-selection--multiple {
    background-color: var(--tblr-table-color-bg-lighter) !important;
    border-color: var(--tblr-card-head) !important;
}
[data-bs-theme=dark] :not(.navbar-filters) .select2-container--open {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
    border-color: var(--tblr-card-head) !important;
}
[data-bs-theme=dark] :not(.navbar-filters) .select2-results ul.select2-results__options li.select2-results__option.select2-results__option--highlighted {
    background-color: var(--tblr-primary);
}

[data-bs-theme=dark] :not(.navbar-filters) .select2-results ul.select2-results__options li.select2-results__option:not(.select2-results__option--highlighted),
[data-bs-theme=dark] .select2-container .select2-dropdown .select2-search {

    background-color: var(--tblr-dark) !important;
}

[data-bs-theme=dark] .input-group button.popup_selector,
[data-bs-theme=dark] .input-group button.clear_elfinder_picker {
    background-color: var(--tblr-dark) !important;
    color: var(--tblr-light-text);
}

[data-bs-theme=dark] .input-group button.popup_selector:hover,
[data-bs-theme=dark] .input-group button.clear_elfinder_picker:hover {
    background-color: var(--tblr-dark-rgb) !important;
    color: var(--tblr-light-text);
}

/*ckeditor*/
[data-bs-theme=dark] .cke_top, span.cke_button_label.cke_button__source_label {
    background-color: var(--tblr-table-color-bg-lighter) !important;
}
[data-bs-theme=dark] span.cke_button_icon,
[data-bs-theme=dark] span.cke_combo_arrow {
    filter: invert(1) !important;
}
[data-bs-theme=dark] span.cke_button_label,
[data-bs-theme=dark] span.cke_combo_text {
    color: var(--tblr-light-text) !important;
}
[data-bs-theme=dark] .cke_chrome {
    border: none;
}

[data-bs-theme=dark] span.cke_combo_text {
    color: var(--tblr-light-text) !important;
}

/*filters*/
[data-bs-theme=dark] .navbar-filters ul.select2-selection__rendered {
    background-color: var(--tblr-gray) !important;
    box-shadow: 0 0 3px var(--tblr-primary) !important;
}
[data-bs-theme=dark] .navbar-filters .select2-selection--multiple {
    background-color: var(--tblr-gray-800) !important;
    color: var(--tblr-light) !important;
}

/*aside*/
[data-bs-theme=dark] aside {
    box-shadow: inset calc(-1 * var(--tblr-navbar-border-width)) 0 0 0 var(--tblr-light-border-subtle) !important;
}

/*scrollbar*/
/* Track */
[data-bs-theme=dark]::-webkit-scrollbar-track {
    background: var(--tblr-dark);
}

/* Handle */
[data-bs-theme=dark]::-webkit-scrollbar-thumb {
    background: var(--tblr-table-color-bg-darker);
}

/* Handle on hover */
[data-bs-theme=dark]::-webkit-scrollbar-thumb:hover {
    background: #555;
}