@charset "UTF-8";
:root, [data-bs-theme=light] {
    --tblr-black: #000;
    --tblr-white: #fff;
    --tblr-gray: #4c496c;
    --tblr-gray-dark: #211d3b;
    --tblr-gray-100: #f1f5f9;
    --tblr-gray-200: #e2e8f0;
    --tblr-gray-300: #c8d3e1;
    --tblr-gray-400: #a09bbe;
    --tblr-gray-500: #736c91;
    --tblr-gray-600: #4c496c;
    --tblr-gray-700: #333152;
    --tblr-gray-800: #211d3b;
    --tblr-gray-900: #1a0f2a;
    --tblr-primary: #7c69ef;
    --tblr-secondary: #66626c;
    --tblr-success: #42ba96;
    --tblr-info: #467fd0;
    --tblr-warning: #ffc107;
    --tblr-danger: #df4759;
    --tblr-light: #f8fafc;
    --tblr-dark: #241f2d;
    --tblr-muted: #66626c;
    --tblr-blue: #7c69ef;
    --tblr-azure: #7768ce;
    --tblr-indigo: #7c69ef;
    --tblr-purple: #ae3ec9;
    --tblr-pink: #d6336c;
    --tblr-red: #bb4646;
    --tblr-orange: #bd6930;
    --tblr-yellow: #f59f00;
    --tblr-lime: #74b816;
    --tblr-green: #4b9a57;
    --tblr-teal: #0ca678;
    --tblr-cyan: #17a2b8;
    --tblr-facebook: #7c69ef;
    --tblr-twitter: #7c69ef;
    --tblr-linkedin: #7c69ef;
    --tblr-google: #dc4e41;
    --tblr-youtube: red;
    --tblr-vimeo: #1ab7ea;
    --tblr-dribbble: #ea4c89;
    --tblr-github: #181717;
    --tblr-instagram: #e4405f;
    --tblr-pinterest: #bd081c;
    --tblr-vk: #6383a8;
    --tblr-rss: orange;
    --tblr-flickr: #7c69ef;
    --tblr-bitbucket: #7c69ef;
    --tblr-tabler: #7c69ef;
    --tblr-primary-rgb: 124, 105, 239;
    --tblr-secondary-rgb: 102, 98, 108;
    --tblr-success-rgb: 66, 186, 150;
    --tblr-info-rgb: 70, 127, 208;
    --tblr-warning-rgb: 255, 193, 7;
    --tblr-danger-rgb: 223, 71, 89;
    --tblr-light-rgb: 248, 250, 252;
    --tblr-dark-rgb: 36, 31, 45;
    --tblr-muted-rgb: 102, 98, 108;
    --tblr-blue-rgb: 124, 105, 239;
    --tblr-azure-rgb: 119, 104, 206;
    --tblr-indigo-rgb: 124, 105, 239;
    --tblr-purple-rgb: 174, 62, 201;
    --tblr-pink-rgb: 214, 51, 108;
    --tblr-red-rgb: 187, 70, 70;
    --tblr-orange-rgb: 189, 105, 48;
    --tblr-yellow-rgb: 245, 159, 0;
    --tblr-lime-rgb: 116, 184, 22;
    --tblr-green-rgb: 75, 154, 87;
    --tblr-teal-rgb: 12, 166, 120;
    --tblr-cyan-rgb: 23, 162, 184;
    --tblr-facebook-rgb: 124, 105, 239;
    --tblr-twitter-rgb: 124, 105, 239;
    --tblr-linkedin-rgb: 124, 105, 239;
    --tblr-google-rgb: 220, 78, 65;
    --tblr-youtube-rgb: 255, 0, 0;
    --tblr-vimeo-rgb: 26, 183, 234;
    --tblr-dribbble-rgb: 234, 76, 137;
    --tblr-github-rgb: 24, 23, 23;
    --tblr-instagram-rgb: 228, 64, 95;
    --tblr-pinterest-rgb: 189, 8, 28;
    --tblr-vk-rgb: 99, 131, 168;
    --tblr-rss-rgb: 255, 165, 0;
    --tblr-flickr-rgb: 124, 105, 239;
    --tblr-bitbucket-rgb: 124, 105, 239;
    --tblr-tabler-rgb: 124, 105, 239;
    --tblr-primary-text-emphasis: #322a60;
    --tblr-secondary-text-emphasis: #42444b;
    --tblr-success-text-emphasis: #1a4a3c;
    --tblr-info-text-emphasis: #1c3353;
    --tblr-warning-text-emphasis: #664d03;
    --tblr-danger-text-emphasis: #591c24;
    --tblr-light-text-emphasis: #333152;
    --tblr-dark-text-emphasis: #333152;
    --tblr-primary-bg-subtle: #e5e1fc;
    --tblr-secondary-bg-subtle: #edeef1;
    --tblr-success-bg-subtle: #d9f1ea;
    --tblr-info-bg-subtle: #dae5f6;
    --tblr-warning-bg-subtle: #fff3cd;
    --tblr-danger-bg-subtle: #f9dade;
    --tblr-light-bg-subtle: #f8fafc;
    --tblr-dark-bg-subtle: #a09bbe;
    --tblr-primary-border-subtle: #cbc3f9;
    --tblr-secondary-border-subtle: #dbdde4;
    --tblr-success-border-subtle: #b3e3d5;
    --tblr-info-border-subtle: #b5ccec;
    --tblr-warning-border-subtle: #ffe69c;
    --tblr-danger-border-subtle: #f2b5bd;
    --tblr-light-border-subtle: #e2e8f0;
    --tblr-dark-border-subtle: #736c91;
    --tblr-white-rgb: 255, 255, 255;
    --tblr-black-rgb: 0, 0, 0;
    --tblr-font-sans-serif: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    --tblr-font-monospace: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --tblr-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    --tblr-body-font-family: var(--tblr-font-sans-serif);
    --tblr-body-font-size: 0.875rem;
    --tblr-body-font-weight: 400;
    --tblr-body-line-height: 1.4285714286;
    --tblr-body-color: #241f2d;
    --tblr-body-color-rgb: 36, 31, 45;
    --tblr-body-bg: #f1f5f9;
    --tblr-body-bg-rgb: 241, 245, 249;
    --tblr-emphasis-color: #000;
    --tblr-emphasis-color-rgb: 0, 0, 0;
    --tblr-secondary-color: rgba(36, 31, 45, .75);
    --tblr-secondary-color-rgb: 36, 31, 45;
    --tblr-secondary-bg: #e2e8f0;
    --tblr-secondary-bg-rgb: 226, 232, 240;
    --tblr-tertiary-color: rgba(36, 31, 45, .5);
    --tblr-tertiary-color-rgb: 36, 31, 45;
    --tblr-tertiary-bg: #f1f5f9;
    --tblr-tertiary-bg-rgb: 241, 245, 249;
    --tblr-link-color: #7c69ef;
    --tblr-link-color-rgb: 124, 105, 239;
    --tblr-link-decoration: none;
    --tblr-link-hover-color: #6354bf;
    --tblr-link-hover-color-rgb: 99, 84, 191;
    --tblr-link-hover-decoration: underline;
    --tblr-code-color: var(--tblr-gray-600);
    --tblr-highlight-bg: #fdeccc;
    --tblr-border-width: 1px;
    --tblr-border-style: solid;
    --tblr-border-color: #e7e6e7;
    --tblr-border-color-translucent: rgba(102, 98, 108, .16);
    --tblr-border-radius: 4px;
    --tblr-border-radius-sm: 2px;
    --tblr-border-radius-lg: 8px;
    --tblr-border-radius-xl: 1rem;
    --tblr-border-radius-xxl: 2rem;
    --tblr-border-radius-2xl: var(--tblr-border-radius-xxl);
    --tblr-border-radius-pill: 100rem;
    --tblr-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    --tblr-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
    --tblr-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
    --tblr-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, .075);
    --tblr-focus-ring-width: 0.25rem;
    --tblr-focus-ring-opacity: 0.25;
    --tblr-focus-ring-color: rgba(124, 105, 239, .25);
    --tblr-form-valid-color: #42ba96;
    --tblr-form-valid-border-color: #42ba96;
    --tblr-form-invalid-color: #df4759;
    --tblr-form-invalid-border-color: #df4759;
    --tblr-danger-text: var(--tblr-danger);
}

[data-bs-theme=dark] body,
[data-bs-theme=dark] .page-body,
[data-bs-theme=dark] header,
[data-bs-theme=dark] aside,
[data-bs-theme=dark] table,
[data-bs-theme=dark] th,
[data-bs-theme=dark] tr {
    --tblr-gray: #4c496c !important;
    --tblr-gray-dark: #211d3b !important;
    --tblr-gray-100: #f1f5f9 !important;
    --tblr-gray-200: #e2e8f0 !important;
    --tblr-gray-300: #c8d3e1 !important;
    --tblr-gray-400: #a09bbe !important;
    --tblr-gray-500: #736c91 !important;
    --tblr-gray-600: #4c496c !important;
    --tblr-gray-700: #333152 !important;
    --tblr-gray-800: #211d3b !important;
    --tblr-gray-900: #1a0f2a !important;
    --tblr-body-color: #736c91 !important;
    --tblr-body-color-rgb: 115, 108, 145 !important;
    --tblr-body-bg: #1a0f2a !important;
    --tblr-body-bg-rgb: 26, 15, 42 !important;
    --tblr-emphasis-color: #fff !important;
    --tblr-emphasis-color-rgb: 255, 255, 255 !important;
    --tblr-secondary-color: rgba(115, 108, 145, .75) !important;
    --tblr-secondary-color-rgb: 115, 108, 145 !important;
    --tblr-secondary-bg: #211d3b !important;
    --tblr-secondary-bg-rgb: 33, 29, 59 !important;
    --tblr-tertiary-color: rgba(115, 108, 145, .5) !important;
    --tblr-tertiary-color-rgb: 115, 108, 145 !important;
    --tblr-tertiary-bg: #1e1633 !important;
    --tblr-tertiary-bg-rgb: 30, 22, 51 !important;
    --tblr-primary-text-emphasis: #b0a5f5 !important;
    --tblr-secondary-text-emphasis: #cacdd6 !important;
    --tblr-success-text-emphasis: #8ed6c0 !important;
    --tblr-info-text-emphasis: #90b2e3 !important;
    --tblr-warning-text-emphasis: #ffda6a !important;
    --tblr-danger-text-emphasis: #ec919b !important;
    --tblr-light-text-emphasis: #f1f5f9 !important;
    --tblr-dark-text-emphasis: #c8d3e1 !important;
    --tblr-primary-bg-subtle: #191530 !important;
    --tblr-secondary-bg-subtle: #212225 !important;
    --tblr-success-bg-subtle: #0d251e !important;
    --tblr-info-bg-subtle: #0e192a !important;
    --tblr-warning-bg-subtle: #332701 !important;
    --tblr-danger-bg-subtle: #2d0e12 !important;
    --tblr-light-bg-subtle: #211d3b !important;
    --tblr-dark-bg-subtle: #110f1e !important;
    --tblr-primary-border-subtle: #40374f !important;
    --tblr-secondary-border-subtle: #646770 !important;
    --tblr-success-border-subtle: #28705a !important;
    --tblr-info-border-subtle: #2a4c7d !important;
    --tblr-warning-border-subtle: #997404 !important;
    --tblr-danger-border-subtle: #862b35 !important;
    --tblr-light-border-subtle: #333152 !important;
    --tblr-dark-border-subtle: #211d3b !important;
    --tblr-link-color: #b0a5f5 !important;
    --tblr-link-hover-color: #c0b7f7 !important;
    --tblr-link-color-rgb: 176, 165, 245 !important;
    --tblr-link-hover-color-rgb: 192, 183, 247 !important;
    --tblr-code-color: #b0a5f5 !important;
    --tblr-border-color: #323242 !important;
    --tblr-border-color-translucent: var(--tblr-border-color) !important;
    --tblr-form-valid-color: #93c29a !important;
    --tblr-form-valid-border-color: #93c29a !important;
    --tblr-form-invalid-color: #d69090 !important;
    --tblr-form-invalid-border-color: #d69090 !important;
    --tblr-bg-surface: #291f2f !important;
    --tblr-navbar-bg: var(--tblr-bg-surface) !important;
    --tblr-dark-mode-border-color: #322638;
    --tblr-bg-main-color: #201723;
    --tblr-bg-forms: var(--tblr-dark-mode-border-color) !important;
    --tblr-danger-text: var(--tblr-danger);
}