.sidebar-toggler {
    background-color: transparent;
}

header .sidebar-toggler i {
    color: var(--tblr-light-text);
}

.navbar-collapse .dropdown-toggle:after {
    all: unset;
    color: var(--tblr-dark-text);
    font-family: "Line Awesome Free";
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
    margin-left: 3px;
}

.navbar-collapse .dropdown-toggle:hover:after {
    color: var(--tblr-primary);
}

[data-bs-theme=dark] .navbar-collapse .dropdown-toggle:hover:after {
    color: var(--tblr-gray-200);
}

/* Fix table row hover */
.table-hover tbody tr:hover td {
    box-shadow: none !important;
}

.nav-separator {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

[data-bs-theme=dark] #crudTable_wrapper thead, [data-bs-theme=dark] #crudTable_wrapper tfoot {
    background-color: var(--tblr-dark-mode-border-color);
}

[data-bs-theme=light] tbody {
    background-color: var(--tblr-table-bg);
}

[data-bs-theme=dark] #crudTable_wrapper tbody {
    background-color: var(--tblr-gray-dark);
}

[data-bs-theme=dark] #crudTable_wrapper .table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--tblr-table-color);
}

[data-bs-theme=dark] #crudTable_processing.dataTables_processing.card {
    background-color: var(--tblr-dark);
    border-radius: 0px;
}

[data-bs-theme=light] tbody {
    background-color: var(--tblr-table-bg);
}

/* Headers for operations */
.main .container-fluid h2 small {
    font-size: 15px;
    font-weight: 300;
}

.main .container-fluid h2 {
    font-size: 27px;
    font-weight: 400;
}

[data-bs-theme=dark] .btn-link, [data-bs-theme=dark] a:not(.btn):not(.nav-link, .dropdown-item) {
    color: var(--tblr-gray-600) !important;
}

[data-bs-theme=dark] .btn-link:hover, [data-bs-theme=dark] a:not(.btn):hover {
    background-color: transparent;
    color: var(--tblr-gray-200) !important;
}

/*aside*/
aside a.nav-link.active, aside a.nav-link.active:hover {
    background-color: var(--tblr-navbar-active-bg);
}
aside a.dropdown-item.active {
    border-radius: var(--tblr-border-radius) !important;
}
aside .sidebar-toggler i {
    color: white;
}
[data-bs-theme=dark] aside a:not(.btn):hover {
    color: var(--tblr-primary) !important;
}
aside .nav-item {
    margin-top: 3px;
    margin-bottom: 3px;
}
aside .navbar-nav .nav-item.dropdown span.badge {
    transform: none;
    position: initial;
    font-size: 10px;
    margin-left: 7px;
}
[data-bs-theme=dark] aside .navbar-collapse .dropdown-toggle:hover:after {
    color: var(--tblr-primary);
}
aside .navbar-collapse .dropdown-toggle:after {
    all: unset;
    font-family: "Line Awesome Free";
    color: var(--tblr-light-text);
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
    margin-left: 3px;
}
span.badge.bg-warning {
    color: var(--tblr-dark) !important;
}
/*/aside*/

[data-bs-theme=light] .btn-link, [data-bs-theme=light] a:not(.btn) {
    color: var(--tblr-primary);
}

[data-bs-theme=light] .btn-link:hover, [data-bs-theme=light] a:not(.btn):hover {
    background-color: transparent;
    color: rgb(var(--tblr-primary-rgb)) !important;
}

[data-bs-theme=dark] .select2-dropdown {
    border: 0 !important;
    box-shadow: 0 0 3px var(--tblr-primary) !important;
}

[data-bs-theme=dark] .nav-item.dropdown.active a {
    background-color: var(--tblr-gray-700) !important;
}

.btn-link {
    color: var(--tblr-primary);
}

[data-bs-theme=light] table#crudTable {
    background-color: var(--tblr-white);
}

[data-bs-theme=dark] table#crudTable {
    background-color: var(--tblr-gray-dark);
}

/*filters*/
[data-bs-theme=dark] .navbar-filters .select2-container .select2-search input {
    background-color: var(--tblr-gray) !important;
    border: 0 !important;
    border-radius: 0 !important;
    caret-color: var(--tblr-light-text);
}
[data-bs-theme=dark] .navbar-filters .dropdown-menu {
    box-shadow: none;
}
[data-bs-theme=dark] .navbar-filters .select2-selection--single {
    background-color: var(--tblr-dark) !important;
}
[data-bs-theme=dark] .navbar-filters .select2-container .select2-search {
    background-color: var(--tblr-dark) !important;
}
[data-bs-theme=dark] .navbar-filters .select2-container .select2-results {
    background-color: var(--tblr-dark) !important;
}
[data-bs-theme=dark] .navbar-filters .select2-selection__rendered {
    color: var(--tblr-muted) !important;
}
[data-bs-theme=dark] .navbar-filters .select2-results ul.select2-results__options li.select2-results__option.select2-results__option--highlighted {
    background-color: var(--tblr-primary);
}
[data-bs-theme=dark] .navbar-filters .select2-results ul.select2-results__options li.select2-results__option[aria-selected="true"]:not(.select2-results__option--highlighted) {
    background-color: var(--tblr-gray-800);
    color: var(--tblr-light-text);
}

/*pagination*/
[data-bs-theme=dark] ul.pagination li.paginate_button.page-item.active a {
    color: var(--tblr-light-text);
}
[data-bs-theme=dark] ul.pagination li.paginate_button.page-item.active a:hover {
    background-color: rgb(var(--tblr-primary-rgb));
}