.sidebar-toggler {
    background-color: transparent;
}

header .sidebar-toggler i {
    color: var(--tblr-light-text);
}

.navbar-collapse .dropdown-toggle:after, a.actions-buttons-column:after {
    all: unset;
    color: var(--tblr-dark-text);
    font-family: "Line Awesome Free";
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
    margin-left: 3px;
}

/*buttons center table*/
button.buttons-collection:after {
    all: unset;
    color: var(--tblr-light-text);
    font-family: "Line Awesome Free";
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
    margin-left: 3px;
}

.navbar-collapse .dropdown-toggle:hover:after {
    color: var(--tblr-primary);
}

[data-bs-theme=dark] .navbar-collapse .dropdown-toggle:hover:after {
    color: var(--tblr-gray-200);
}

.table-hover tbody tr td a.btn.btn-sm.btn-link i {
    margin-right: 3px;
}

.table-hover tbody tr td.dtr-control span {
    margin-left: 3px;
}

.nav-separator {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

[data-bs-theme=dark] #crudTable_wrapper thead, [data-bs-theme=dark] #crudTable_wrapper tfoot {
    background-color: var(--tblr-dark-mode-border-color);
}

[data-bs-theme=light] tbody {
    background-color: var(--tblr-table-bg);
}

[data-bs-theme=dark] #crudTable_wrapper .table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--tblr-table-color);
}

[data-bs-theme=dark] #crudTable_processing.dataTables_processing.card {
    background-color: var(--tblr-dark);
    border-radius: 0;
}

[data-bs-theme=light] tbody {
    background-color: var(--tblr-table-bg);
}

/* Headers for operations */
.page-body .container-fluid h2 small {
    font-size: 15px;
    font-weight: 300;
}

.page-body .container-fluid h2 {
    font-size: 27px;
    font-weight: 400;
}

[data-bs-theme=dark] .btn-link, [data-bs-theme=dark] a:not(.btn):not(.nav-link, .dropdown-item) {
    color: var(--tblr-gray-400) !important;
}

[data-bs-theme=dark] .btn-link:hover, [data-bs-theme=dark] a:not(.btn):hover {
    background-color: transparent;
    color: var(--tblr-gray-200) !important;
}

/*aside*/
aside .navbar-collapse .dropdown-toggle {
    padding-right: 0 !important;
}

aside .navbar-collapse .dropdown-item {
    padding-left: 25px !important;
    padding-right: 0 !important;
}

aside a.nav-link.active, aside a.nav-link.active:hover {
    background-color: var(--tblr-navbar-active-bg);
}

aside a.dropdown-item.active {
    border-radius: var(--tblr-border-radius) !important;
}

aside .sidebar-toggler i {
    color: white;
}

[data-bs-theme=dark] aside a:not(.btn):hover {
    color: var(--tblr-primary) !important;
}

aside .nav-item {
    margin-top: 3px;
    margin-bottom: 3px;
}

aside .navbar-nav .nav-item.dropdown span.badge {
    transform: none;
    position: initial;
    font-size: 10px;
    margin-left: 7px;
}

header.top div ul.navbar-nav li.nav-item a.nav-link span.badge {
    transform: none;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    font-size: 10px;
    right: -5px;
    top: -5px;
}

[data-bs-theme=dark] aside .navbar-collapse .dropdown-toggle:hover:after {
    color: var(--tblr-primary);
}

aside .navbar-collapse .dropdown-toggle:after {
    all: unset;
    font-family: "Line Awesome Free";
    color: var(--tblr-light-text);
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
    margin-left: 3px;
}

span.badge.bg-warning {
    color: var(--tblr-dark) !important;
}

aside li.nav-item a.nav-link i,
aside div.dropdown-menu a.dropdown-item i,
header.top div ul.navbar-nav li.nav-item a.nav-link i,
header.top div.dropdown-menu a.dropdown-item i {
    margin-right: 7px;
    font-size: 16px;
}

/*table hover*/
#crudTable_wrapper .table-striped > tbody > tr:hover > * {
    box-shadow: none !important;
    background-color: rgba(var(--tblr-primary-rgb),.1);
}

[data-bs-theme=light] table#crudTable {
    background-color: var(--tblr-white);
}

[data-bs-theme=dark] table#crudTable {
    background-color: var(--tblr-bg-surface);
}

/*filters*/
[data-bs-theme=dark] .navbar-filters .select2-container .select2-search input {
    background-color: var(--tblr-gray) !important;
    border: 0 !important;
    border-radius: 0 !important;
    caret-color: var(--tblr-light-text);
}

[data-bs-theme=dark] .navbar-filters .dropdown-menu {
    box-shadow: none;
}

[data-bs-theme=dark] .navbar-filters .nav-item.active a {
    background-color: var(--tblr-bg-surface) !important;
}

[data-bs-theme=dark] .navbar-filters .select2-selection--single {
    background-color: var(--tblr-dark) !important;
}

[data-bs-theme=dark] .navbar-filters .select2-container .select2-search {
    background-color: var(--tblr-dark) !important;
}

[data-bs-theme=dark] .navbar-filters .select2-container .select2-results {
    background-color: var(--tblr-dark) !important;
}

[data-bs-theme=dark] .navbar-filters .select2-selection__rendered {
    color: var(--tblr-muted) !important;
}

[data-bs-theme=dark] .navbar-filters .select2-results ul.select2-results__options li.select2-results__option.select2-results__option--highlighted {
    background-color: var(--tblr-primary);
}

[data-bs-theme=dark] .navbar-filters .select2-results ul.select2-results__options li.select2-results__option[aria-selected="true"]:not(.select2-results__option--highlighted) {
    background-color: var(--tblr-gray-800);
    color: var(--tblr-light-text);
}

[data-bs-theme=dark] .daterangepicker {
    background-color: var(--tblr-bg-surface);
    border-width: 0;
    box-shadow: 0 0 10px rgba(var(--tblr-light-rgb), .2);
}

[data-bs-theme=dark] .daterangepicker .ranges li.active,
[data-bs-theme=dark] .daterangepicker .ranges li:hover {
    background-color: var(--tblr-primary);
}

[data-bs-theme=dark] .daterangepicker .calendar-table {
    border-color: var(--tblr-light-border-subtle);
    background-color: var(--tblr-bg-surface);
}

[data-bs-theme=dark] .daterangepicker .calendar-table td.off {
    background-color: var(--tblr-bg-surface);
}

[data-bs-theme=dark] .daterangepicker .calendar-table td.active,
[data-bs-theme=dark] .daterangepicker .calendar-table td:hover {
    background-color: var(--tblr-primary);
}

[data-bs-theme=dark] .daterangepicker .calendar-table td.in-range:not(.active) {
    background-color: var(--tblr-primary-border-subtle);
    color: var(--tblr-light-text);
}

[data-bs-theme=dark] .daterangepicker .calendar-table th.prev.available:hover,
[data-bs-theme=dark] .daterangepicker .calendar-table th.next.available:hover {
    background-color: var(--tblr-primary);
}

[data-bs-theme=dark] .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span,
[data-bs-theme=dark] .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .next span {
    border-color: var(--tblr-muted) !important;
}

[data-bs-theme=dark] .daterangepicker .calendar-table .prev:hover span,
[data-bs-theme=dark] .daterangepicker .calendar-table .next:hover span {
    border-color: var(--tblr-light-text) !important;
}

[data-bs-theme=dark] .daterangepicker.show-ranges.ltr .drp-calendar.left {
    border-left-color: var(--tblr-gray);
}

[data-bs-theme=dark] .daterangepicker .drp-buttons {
    border-top-color: var(--tblr-gray);
}

/*pagination*/
[data-bs-theme=dark] ul.pagination li.paginate_button.page-item.active a {
    color: var(--tblr-light-text);
}

[data-bs-theme=dark] ul.pagination li.paginate_button.page-item.active a:hover {
    background-color: rgb(var(--tblr-primary-rgb));
}

/*reorder*/
[data-bs-theme=dark] ol.sortable li div, [data-bs-theme=dark] ul.select_and_order_all li {
    background-color: var(--tblr-bg-surface);
    color: var(--tblr-light-text);
    border-color: var(--tblr-primary-border-subtle) !important;
}

/*modal*/
[data-bs-theme=dark] div.dtr-modal div.dtr-modal-display {
    background-color: var(--tblr-bg-surface);
}

[data-bs-theme=dark] div.dtr-modal div.dtr-modal-display .dtr-modal-close {
    background-color: var(--tblr-danger);
    color: var(--tblr-light-text);
    border: none;
}

[data-bs-theme=dark] div.dtr-modal div.dtr-modal-display table.table.table-striped tr td {
    color: var(--tblr-light-text);
}

/*tabbed fields*/
div.tab-container div.tab-content {
    padding: 25px;
    background-color: var(--tblr-bg-surface) !important;
    border: none !important;
}

div.tab-container ul {
    --tblr-nav-tabs-border-width: 0 !important;
}

div.tab-container ul li.nav-item .active {
    background-color: var(--tblr-bg-surface) !important;
    --tblr-nav-tabs-border-width: 0 !important;
}

[data-bs-theme=light] div.tab-container div.tab-content {
    background-color: #fff !important;
}

[data-bs-theme=light] div.tab-container ul li.nav-item .active {
    background-color: #fff !important;
    --tblr-nav-tabs-border-width: 0 !important;
}

[data-bs-theme=dark] .select_and_order_all,
[data-bs-theme=dark] .select_and_order_selected {
    border: 1px solid var(--tblr-primary-border-subtle) !important;
}

[data-bs-theme=dark] .select_and_order_all li,
[data-bs-theme=dark] .select_and_order_selected li {
    background-color: var(--tblr-primary-border-subtle);
    border: none !important;
}

/*repeatable fields*/
[data-bs-theme=dark] .repeatable-element {
    background-color: var(--tblr-primary-border-subtle) !important;
}

/*browse field*/
[data-bs-theme=dark] button.browse {
    background-color: var(--tblr-primary-border-subtle);
    color: var(--tblr-light-text)
}

/*input file*/
[data-bs-theme=dark] .backstrap-file-label {
    background-color: var(--tblr-primary-border-subtle) !important;
    border-color: var(--tblr-bg-surface);
}

/*modal overlay*/
div.dtr-modal {
    z-index: 9999 !important;
}

footer {
    padding-top: 20px;
}

/*bulk buttons*/
#bottom_buttons a.btn.btn-sm {
    padding: 5px 10px;
}

[data-bs-theme=dark] #crudTable_wrapper table tbody tr td input[type=editable_text],
[data-bs-theme=dark] #crudTable_wrapper table tbody tr td select {
    color: var(--tblr-light-text);
    border-bottom: 1px dashed var(--tblr-gray-700) !important;
}

[data-bs-theme=dark] #crudTable_wrapper table tbody tr td input[type=editable_text]:focus {
    --bs-table-accent-bg: none !important;
    box-shadow: none !important;
}

a.actions-buttons-column {
    border: none;
    background-color: var(--tblr-gray-200);
    --tblr-btn-active-bg: var(--tblr-gray-600);
}

a.actions-buttons-column:hover {
    background-color: var(--tblr-gray-600);
}

a.actions-buttons-column:hover:after,
a.actions-buttons-column.show:after {
    color: var(--tblr-light-text);
}

[data-bs-theme=dark] a.actions-buttons-column {
    border: none;
    background-color: var(--tblr-gray-800);
    color: var(--tblr-dark-text);
    --tblr-btn-active-bg: var(--tblr-gray-800);
}

[data-bs-theme=dark] a.actions-buttons-column:hover {
    background-color: var(--tblr-gray-900);
}

[data-bs-theme=dark] a.actions-buttons-column:hover:after,
[data-bs-theme=dark] a.actions-buttons-column.show:after {
    color: var(--tblr-dark-text);
}

body {
    scrollbar-gutter: stable;
}

/*Logo*/
.project-logo {
    max-width: 150px;
    height: auto;
}

.auth-logo-container .project-logo {
    max-width: 230px;
    height: auto;
}

/*Adjust topbar*/
.topbar-transparent {
    background-color: var(--tblr-gray-100) !important;
}

[data-bs-theme=dark] .topbar-transparent {
    background-color: var(--tblr-navbar-bg) !important;
}

/*Sidebar shortcuts*/
.sidebar-shortcuts :not(:first-child):not(.hide-theme):before {
    content: "|";
    color: var(--tblr-gray-300);
    margin-left: 10px;
    margin-right: 10px;
}

[data-bs-theme=dark] .sidebar-shortcuts :not(:first-child):not(.hide-theme):before {
    color: var(--tblr-gray-600);
}

/*Sidebar fixed or not fixed, that's the question*/
.navbar-vertical:not(.navbar-fixed) {
    position: absolute !important;
    overflow-y: scroll;
}

[data-bs-theme=dark] .select2-container--bootstrap .select2-dropdown {
    border-color: var(--tblr-border-color) !important;
}